# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider
.idea/

# Node
node_modules/
dist/
build/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# OS
.DS_Store
Thumbs.db
