<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- REMOVE WebDAV completely (IIS blocks DELETE by default) -->
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <remove name="WebDAVModule" />
        <!-- Allow ALL verbs (DELETE, PUT, OPTIONS included) -->
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- Allow DELETE, PUT, OPTIONS -->
      <security>
        <requestFiltering>
          <verbs allowUnlisted="true">
            <add verb="DELETE" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="OPTIONS" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
      <!-- ASP.NET Core settings -->
      <aspNetCore processPath="dotnet" arguments=".\PopularDev.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: EF3E98D8-F7B1-4A3A-AFE4-A32DCBD3B594-->